*
!documents/*
!src/sql/*
!.gitignore
!.gitconfig
!.vimrc
!.vim/ftplugin/*
!.vim/plugins.vim
!.vim/coc.vim
!.vim/coc-settings.json
!.config/nvim/
!.config/coc/extensions/node_modules/coc-db/autoload/vim_dadbod_completion.vim
!.config/coc/extensions/node_modules/coc-db/autoload/vim_dadbod_completion/schemas.vim
!.config/coc/extensions/node_modules/coc-db/autoload/vim_dadbod_completion/reserved_keywords.vim
!.src/php/example_project/public
!.src/php/example_project/src
!.src/php/example_project/.vim
!.src/php/example_project/phpcs.xml
!.src/php/example_project/.php-cs-fixer.dist.php
